.logout-form {
    margin-top: 15px;
    width: 150px;
}

.resend-email-form {
    margin-top: 15px;
    width: 200px;
}

.flash-error {
    color: red;
}

#invalid-helper-confirm {
    display: none;
}

.wide {
    width: 100%;
}

table {
    table-layout: fixed;
    width: 100%;
}

td, th {
    word-wrap: break-word;
}

caption {
    margin-top: 20px;
    caption-side: bottom;
}

.scope-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 30px;
}

.scope-tile {
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.scope-tile .remove-scope {
    background: none;
    border: none;
    color: red;
    font-size: 1rem;
    cursor: pointer;
}
