{#include main.html}
    {#title}Confirm email{/title}

    <h4>You need to confirm your email address.</h4>
    <h5>Email with confirmation link was sent, please check your inbox.</h5>

    <p id="countdown"></p>
    <form action="/auth/resend-reset-password-email" method="POST" style="margin-top: 15px; width: 200px">
        <input type="hidden" name="{inject:csrf.parameterName}" value="{inject:csrf.token}" />
        <input type="hidden" name="userId" value="{userId}">
        <button type="submit" id="resendButton">Resend Email</button>
    </form>
    <a href="/auth/forgot-password" role="button" class="secondary">Cancel</a>

    <script type="text/javascript" src="/js/countdown.js"></script>
{/include}