<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>

    <link rel="shortcut icon" href="https://picocss.com/favicon.ico" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <main class="container">
        <article>
            <div>
                <h1>Reset password</h1>
                <form action="/auth/reset-password" method="post" autocomplete="off">
                    <input type="hidden" name="{inject:csrf.parameterName}" value="{inject:csrf.token}" />
                    <input type="hidden" name="userId" value="{userId}" />
                    <label for="password">New password</label>
                    <input type="password" id="password" name="password" minlength="6" maxlength="50"
                           placeholder="New password" required />
                    <input type="password" id="confirm-password" name="confirm-password" minlength="6" maxlength="50"
                           placeholder="Confirm new password" required aria-describedby="invalid-helper-confirm" />
                    <small id="invalid-helper-confirm" style="display: none;">Passwords don’t match.</small>
                    <button type="submit" class="contrast" id="submit-button">Reset password</button>
                    <a href="/auth/forgot-password" role="button" class="outline contrast" style="width: 100%">Cancel</a>
                </form>
            </div>
        </article>
    </main>

    <script type="text/javascript" src="/js/validation.js"></script>
</body>

</html>