{#include main.html}
    {#title}Change password{/title}
    {#styles}
        <link rel="stylesheet" href="/css/styles.css" />
    {/styles}

    <main class="container">
        <article>
            <div>
                <h1>Change password</h1>
                <form action="/profile/change-password" method="post" autocomplete="off">
                    {#ifError 'currentPassword'} <p style="color: red;">{#error 'currentPassword'/}</p> {/ifError}
                    {#ifError 'newPassword'} <p style="color: red;">{#error 'newPassword'/}</p> {/ifError}
                    {#ifError 'confirmPassword'} <p style="color: red;">{#error 'confirmPassword'/}</p> {/ifError}
                    {#ifError 'passwordsMatch'} <p style="color: red;">{#error 'passwordsMatch'/}</p> {/ifError}
                    {#if flash:error} <p style="color: red;">{flash:error}</p> {/if}
                    <input type="hidden" name="{inject:csrf.parameterName}" value="{inject:csrf.token}" />
                    <label for="current-password">Current password</label>
                    <input type="password" id="current-password" name="currentPassword" minlength="6" maxlength="50"
                           placeholder="Current password" required autofocus />
                    <label for="password">New password</label>
                    <input type="password" id="password" name="newPassword" minlength="6" maxlength="50"
                           placeholder="New password" required />
                    <input type="password" id="confirm-password" name="confirmPassword" minlength="6" maxlength="50"
                           placeholder="Confirm new password" required aria-describedby="invalid-helper-confirm" />
                    <small id="invalid-helper-confirm" style="display: none;">Passwords don’t match.</small>
                    <button type="submit" class="contrast" id="submit-button">Change password</button>
                    <a href="/profile" role="button" class="outline contrast" style="width: 100%">Cancel</a>
                </form>
            </div>
        </article>
    </main>

    <script type="text/javascript" src="/js/validation.js"></script>
{/include}