{#include main.html}
    {#title}Profile{/title}
    {#styles}
        <link rel="stylesheet" href="/css/extra-styles.css" />
    {/styles}

    <h4>Hello, {user.fullName} &#x1F44B;</h4>
    <h4>Email: {user.email}</h4>
    <a href="/profile/change-password" role="button" class="outline contrast">Change password</a>
    <a href="/consents" role="button" class="outline contrast">Granted consents</a>
    {#if cdi:userService.isUserAdmin(user)}
        <hr />
        <a href="/admin/users-list" role="button" class="outline contrast">Users list</a>
        <a href="/oauth2/clients" role="button" class="outline contrast">OAuth Clients</a>
        <a href="/oauth2/scopes" role="button" class="outline contrast">OAuth Scopes</a>
    {/if}
    <form action="/auth/logout" class="logout-form" method="POST">
        <input type="hidden" name="{inject:csrf.parameterName}" value="{inject:csrf.token}" />
        <button type="submit" class="outline">Logout</button>
    </form>
{/include}