{#include main.html}
    {#title}Access permission{/title}
    {#styles}
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="stylesheet" href="/css/extra-styles.css" />
    {/styles}

    <main class="container">
        <article>
            <div>
                <h3><b>{clientName}</b> is requesting permission to access your profile information.</h3>
                <h4>Do you want to continue?</h4>
                <form action="/oauth2/consent" method="post" autocomplete="off">
                    <input type="hidden" name="userGaveConsent" value="true" />
                    <input type="hidden" name="callbackUrl" value="{callbackUrl}" />
                    <input type="hidden" name="clientId" value="{clientId}" />
                    <input type="hidden" name="userId" value="{userId}" />
                    <input type="hidden" name="state" value="{state}" />
                    <input type="hidden" name="{inject:csrf.parameterName}" value="{inject:csrf.token}" />
                    <button type="submit" class="outline">Yes</button>
                </form>
                <form action="/oauth2/consent" method="post" autocomplete="off">
                    <input type="hidden" name="userGaveConsent" value="false" />
                    <input type="hidden" name="callbackUrl" value="{callbackUrl}" />
                    <input type="hidden" name="{inject:csrf.parameterName}" value="{inject:csrf.token}" />
                    <button type="submit" class="outline">No</button>
                </form>
            </div>
        </article>
    </main>
{/include}