<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm email</title>

    <link rel="shortcut icon" href="https://picocss.com/favicon.ico" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
</head>
<body>
    <h4>You need to confirm your email address.</h4>
    <h5>Email with confirmation link was sent, please check your inbox.</h5>

    <a href="/auth/login" role="button" class="secondary">Cancel</a>
    <button id="resendButton" onclick="resendEmail()">Resend Email</button>
    <p id="countdown"></p>

    <script>
        const resendButton = document.getElementById('resendButton');
        const countdownLabel = document.getElementById('countdown');

        function startCountdown() {
            let cooldownTime = 60;
            resendButton.disabled = true;
            countdownLabel.innerHTML = "Resend the email after: " + cooldownTime + " seconds.";

            let countdownInterval = setInterval(() => {
                cooldownTime--;
                countdownLabel.innerHTML = "Resend the email after: " + cooldownTime + " seconds.";

                if (cooldownTime <= 0) {
                    clearInterval(countdownInterval);
                    resendButton.disabled = false;
                    countdownLabel.innerHTML = "You can resend the email.";
                }
            }, 1000);
        }

        function resendEmail() {
            resendButton.setAttribute('aria-busy', 'true');
            resendButton.textContent = 'Please wait...';

            fetch('/auth/resend-registration-email/' + "{userId}", {
                method: "POST",
                headers: {
                    "{inject:csrf.headerName}": "{inject:csrf.token}"
                },
            })
            .then(response => {
                resendButton.setAttribute('aria-busy', 'false');
                resendButton.textContent = 'Resend Email';

                if (response.ok) {
                    startCountdown();
                } else {
                    alert('Error resending email!');
                }
            })
            .catch((error) => {
                console.error(error);
            });
        }

        window.onload = startCountdown;
    </script>
</body>
</html>