<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>

    <link rel="shortcut icon" href="https://picocss.com/favicon.ico" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />

    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
</head>

<body>
    <main class="container">
        <article>
            <div>
                <h1>Registration</h1>
                <form action="/auth/registration" method="post" autocomplete="off">
                    {#ifError 'fullName'} <p style="color: red;">{#error 'fullName'/}</p> {/ifError}
                    {#ifError 'email'} <p style="color: red;">{#error 'email'/}</p> {/ifError}
                    {#ifError 'password'} <p style="color: red;">{#error 'password'/}</p> {/ifError}
                    {#if flash:error} <p style="color: red;">{flash:error}</p> {/if}
                    <input type="hidden" name="{inject:csrf.parameterName}" value="{inject:csrf.token}" />
                    <input type="text" id="full-name" name="fullName" minlength="4" maxlength="50" placeholder="Full name" required autofocus />
                    <input type="email" id="email" name="email" maxlength="50" placeholder="Email" required />
                    <input type="password" id="password" name="password" minlength="6" maxlength="50" placeholder="Password" required />
                    <input type="password" id="confirm-password" name="confirmPassword" minlength="6" maxlength="50" required
                           placeholder="Confirm password" aria-describedby="invalid-helper-confirm" />
                    <small id="invalid-helper-confirm" style="display: none;">Passwords don’t match.</small>
                    <div class="cf-turnstile" data-sitekey="{siteKey}" data-language="en-US"></div>
                    <button type="submit" class="contrast" id="submit-button">Register</button>
                    <label align="center">
                        Already have an account? <a href="/auth/login">Login</a>
                    </label>
                </form>
            </div>
        </article>
    </main>

    <script type="text/javascript" src="/js/validation.js"></script>
</body>

</html>