{#include main.html}
    {#title}Confirm email{/title}
    {#styles}
        <link rel="stylesheet" href="/css/extra-styles.css" />
    {/styles}

    <h4>You need to confirm your email address.</h4>
    <h5>Email with confirmation link was sent, please check your inbox.</h5>

    <p id="countdown"></p>
    <form action="/auth/resend-registration-email" class="resend-email-form" method="POST">
        <input type="hidden" name="{inject:csrf.parameterName}" value="{inject:csrf.token}" />
        <input type="hidden" name="userId" value="{userId}">
        <button type="submit" id="resendButton">Resend Email</button>
    </form>
    <a href="/auth/login" role="button" class="secondary">Cancel</a>

    <script type="text/javascript" src="/js/countdown.js"></script>
{/include}