{#include main.html}
    {#title}Edit user{/title}
    {#styles}
        <link rel="stylesheet" href="/css/styles.css" />
    {/styles}

    <main class="container">
        <article>
            <div>
                <h1>Edit user</h1>
                <form action="/admin/edit-user" method="post" autocomplete="off">
                    {#ifError 'fullName'} <p style="color: red;">{#error 'fullName'/}</p> {/ifError}
                    {#ifError 'email'} <p style="color: red;">{#error 'email'/}</p> {/ifError}
                    {#if flash:error} <p style="color: red;">{flash:error}</p> {/if}
                    <input type="hidden" name="{inject:csrf.parameterName}" value="{inject:csrf.token}" />
                    <input type="hidden" name="id" value="{user.id}" />
                    <label for="fullName">Full name</label>
                    <input type="text" id="fullName" name="fullName" minlength="4" maxlength="50" value="{user.fullName}"
                           placeholder="Full name" required autofocus />
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" maxlength="50" value="{user.email}"
                           placeholder="Email" required />
                    <label for="role">Role</label>
                    <select id="role" name="role" required>
                        {#for role in roles}
                            <option value="{role}" {#if role == user.role}selected{/if}>{role}</option>
                        {/for}
                    </select>
                    <button type="submit" class="contrast">Edit user</button>
                    <a href="/admin/users-list" role="button" class="outline contrast" style="width: 100%">Cancel</a>
                </form>
            </div>
        </article>
    </main>
{/include}