{#include main.html}
    {#title}Edit scope{/title}
    {#styles}
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="stylesheet" href="/css/extra-styles.css" />
    {/styles}

    <main class="container">
        <article>
            <div>
                <h1>Edit scope</h1>
                <form action="/oauth2/scopes/edit" method="post" autocomplete="off">
                    {#ifError 'name'} <p class="flash-error">{#error 'name'/}</p> {/ifError}
                    {#ifError 'description'} <p class="flash-error">{#error 'description'/}</p> {/ifError}
                    {#ifError 'audience'} <p class="flash-error">{#error 'audience'/}</p> {/ifError}
                    {#if flash:error} <p class="flash-error">{flash:error}</p> {/if}
                    <input type="hidden" name="{inject:csrf.parameterName}" value="{inject:csrf.token}" />
                    <input type="hidden" name="previousName" value="{scope.name}" />
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" minlength="3" maxlength="255" value="{scope.name}"
                           placeholder="Name" required autofocus />
                    <label for="description">Description</label>
                    <input type="text" id="description" name="description" minlength="3" maxlength="255" value="{scope.description}"
                           placeholder="Description" required />
                    <label for="audience">Audience</label>
                    <input type="url" id="audience" name="audience" maxlength="255" value="{scope.audience}"
                           placeholder="Audience" required />
                    <button type="submit" class="contrast">Save changes</button>
                    <a href="/oauth2/scopes" role="button" class="outline contrast wide">Cancel</a>
                </form>
            </div>
        </article>
    </main>
{/include}