{#include main.html}
    {#title}OAuth scopes{/title}
    {#styles}
        <link rel="stylesheet" href="/css/extra-styles.css" />
    {/styles}

    <h3>OAuth scopes</h3>
    <a href="/profile" role="button" class="outline contrast">Back</a>
    <a href="/oauth2/scopes/new" role="button" class="outline contrast">New scope</a>
    <table>
        {#if scopes.isEmpty()}
            <caption>
                <p>No scopes yet</p>
            </caption>
        {/if}
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Audience</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {#for scope in scopes}
            <tr>
                <th scope="row">{scope.name}</th>
                <td>{scope.description}</td>
                <td>{scope.audience}</td>
                <td>
                    <form action="/oauth2/scopes/delete" method="POST"
                          onsubmit="return confirm('Are you sure you want to delete this scope?');">
                        <input type="hidden" name="{inject:csrf.parameterName}" value="{inject:csrf.token}" />
                        <input type="hidden" name="name" value="{scope.name}" />
                        <button type="submit" class="outline">Delete</button>
                    </form>
                    <a href="/oauth2/scopes/edit?name={scope.name}" role="button" class="outline wide">Edit</a>
                </td>
            </tr>
        {/for}
        </tbody>
    </table>
{/include}