.logout-form {
    margin-top: 15px;
    width: 150px;
}

.resend-email-form {
    margin-top: 15px;
    width: 200px;
}

.invalid-feedback {
    color: red;
}

#invalid-helper-confirm {
    display: none;
}

.wide {
    width: 100%;
}

table {
    table-layout: fixed;
    width: 100%;
}

td, th {
    word-wrap: break-word;
}

caption {
    margin-top: 20px;
    caption-side: bottom;
}