<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="shortcut icon" href="https://picocss.com/favicon.ico" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <main class="container">
        <article>
            <div>
                <h1>Login</h1>
                <form class="login-form" autocomplete="off">
                    <input type="email" name="email" maxlength="50" placeholder="Email" autofocus required />
                    <input type="password" name="password" maxlength="50" placeholder="Password" required />
                    <fieldset>
                        <a href="#">Forgot Password?</a>
                    </fieldset>
                    <button type="submit" class="contrast">Login</button>
                    <label align="center">
                        Don't have an account? <a href="/auth/register">Register</a>
                    </label>
                </form>
            </div>
        </article>
    </main>
</body>

</html>