<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot password</title>

    <link rel="shortcut icon" href="https://picocss.com/favicon.ico" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />

    <script src="https://www.google.com/recaptcha/api.js?render={recaptchaSiteKey}"></script>
</head>
<body>
    <main class="container">
        <article>
            <div>
                <h1>Forgot password</h1>
                <form id="forgot-password-form" autocomplete="off">
                    <p id="error-message" style="color: red; display: none;">Account with this email is not registered.</p>
                    <label for="email">Account email</label>
                    <input type="email" id="email" maxlength="50" placeholder="Email" autofocus required />
                    <button type="submit" class="contrast" id="submit-button">Proceed</button>
                    <a href="/auth/login" role="button" class="outline contrast" style="width: 100%">Back</a>
                </form>
            </div>
        </article>
    </main>

    <script>
        document.getElementById('forgot-password-form').addEventListener('submit', (event) => {
            event.preventDefault();

            const submitButton = document.getElementById('submit-button');
            submitButton.setAttribute('aria-busy', 'true');
            submitButton.textContent = 'Please wait...';

            grecaptcha.ready(function() {
                grecaptcha.execute('{recaptchaSiteKey}', {@action: 'submit'}).then(function(token) {
                    const emailInput = document.getElementById('email');

                    fetch("/auth/forgot-password", {
                        method: "POST",
                        body: JSON.stringify({
                            email: emailInput.value,
                            recaptchaToken: token
                        }),
                        headers: {
                            "Content-Type": "application/json",
                            "{inject:csrf.headerName}": "{inject:csrf.token}"
                        },
                    })
                    .then((response) => {
                        submitButton.setAttribute('aria-busy', 'false');
                        submitButton.textContent = 'Proceed';

                        if (response.ok) {
                            response.text().then((userId) => {
                                window.location.href = '/auth/reset-password-confirmation/' + userId;
                            });
                        } else {
                            const errorMessage = document.getElementById('error-message');
                            errorMessage.style.display = 'block';

                            emailInput.focus();
                        }
                    })
                    .catch((error) => {
                        console.error(error);
                    });
                });
            });
        });
    </script>
</body>
</html>