<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <link rel="shortcut icon" href="https://picocss.com/favicon.ico" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />

    <script src="https://www.google.com/recaptcha/api.js?render={recaptchaSiteKey}"></script>
</head>

<body>
    <main class="container">
        <article>
            <div>
                <h1>Register</h1>
                <form id="register-form" autocomplete="off">
                    <input type="text" id="full-name" minlength="4" maxlength="50" placeholder="Full name" required autofocus />
                    <input type="email" id="email" maxlength="50" placeholder="Email" required
                           aria-describedby="invalid-helper" />
                    <small id="invalid-helper" style="display: none;">Email is already taken.</small>
                    <input type="password" id="password" minlength="6" maxlength="50" placeholder="Password" required />
                    <button type="submit" class="contrast" id="submit-button">Register</button>
                    <label align="center">
                        Already have an account? <a href="/auth/login">Login</a>
                    </label>
                </form>
            </div>
        </article>
    </main>

    <script>
        document.getElementById('register-form').addEventListener('submit', (event) => {
            event.preventDefault();

            const submitButton = document.getElementById('submit-button');
            submitButton.setAttribute('aria-busy', 'true');
            submitButton.textContent = 'Please wait...';

            grecaptcha.ready(function() {
                grecaptcha.execute('{recaptchaSiteKey}', {@action: 'submit'}).then(function(token) {
                    const fullNameInput = document.getElementById('full-name');
                    const emailInput = document.getElementById('email');
                    const passwordInput = document.getElementById('password');

                    const userData = {
                        fullName: fullNameInput.value,
                        email: emailInput.value,
                        password: passwordInput.value,
                        recaptchaToken: token
                    };

                    fetch("/auth/register", {
                        method: "POST",
                        body: JSON.stringify(userData),
                        headers: {
                            "Content-Type": "application/json",
                            "{inject:csrf.headerName}": "{inject:csrf.token}"
                        },
                    })
                    .then((response) => {
                        submitButton.setAttribute('aria-busy', 'false');
                        submitButton.textContent = 'Register';

                        if (response.ok) {
                            response.text().then((userId) => {
                                window.location.replace('/auth/registration-confirmation/' + userId);
                            });
                        } else {
                            const invalidHelper = document.getElementById('invalid-helper');
                            invalidHelper.style.display = 'block';

                            emailInput.setAttribute('aria-invalid', 'true');
                            emailInput.focus();

                            passwordInput.value = '';
                        }
                    })
                    .catch((error) => {
                        console.error(error);
                    });
                });
            });
        });
    </script>
</body>

</html>