{#include main.html}
    {#title}Login{/title}
    {#styles}
        <link rel="stylesheet" href="/css/styles.css" />
    {/styles}
    {#scripts}
        <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
    {/scripts}

    <main class="container">
        <article>
            <div>
                <h1>Login</h1>
                <form action="/j_security_check" method="post" autocomplete="off">
                    <p style="color: red;" {#if !error}hidden{/if}>Invalid Credentials.</p>
                    {#ifError 'rateLimited'} <p style="color: red;">{#error 'rateLimited'/}</p> {/ifError}
                    <input type="hidden" name="{inject:csrf.parameterName}" value="{inject:csrf.token}" />
                    <input type="email" name="j_email" maxlength="50" placeholder="Email" autofocus required />
                    <input type="password" name="j_password" maxlength="50" placeholder="Password" required />
                    <a href="/auth/forgot-password">Forgot Password?</a>
                    <div class="cf-turnstile" data-sitekey="{siteKey}" data-language="en-US"></div>
                    <button type="submit" class="contrast" {#ifError 'rateLimited'}disabled{/ifError}>Login</button>
                    <label align="center">
                        Don't have an account? <a href="/auth/registration">Register</a>
                    </label>
                </form>
            </div>
        </article>
    </main>
{/include}