{#include main.html}
    {#title}Edit OAuth Client{/title}
    {#styles}
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="stylesheet" href="/css/extra-styles.css" />
    {/styles}

    <main class="container">
        <article>
            <div>
                <h1>Edit OAuth Client</h1>
                <form action="/oauth2/clients/edit" method="post" autocomplete="off">
                    {#if flash:error} <p class="flash-error">{flash:error}</p> {/if}
                    <input type="hidden" name="{inject:csrf.parameterName}" value="{inject:csrf.token}" />
                    <input type="hidden" name="clientId" value="{client.clientId}" />
                    <label for="clientName">Client name</label>
                    <input type="text" id="clientName" name="clientName" minlength="3" maxlength="100" value="{client.name}"
                           placeholder="Client name" required autofocus />
                    <label for="homepageUrl">Homepage URL</label>
                    <input type="url" id="homepageUrl" name="homepageUrl" maxlength="255" value="{client.homepageUrl}"
                           placeholder="Homepage URL" required />
                    <label for="callbackUrl">Callback URL</label>
                    <input type="url" id="callbackUrl" name="callbackUrl" maxlength="255" value="{client.callbackUrl}"
                           placeholder="Callback URL" required />
                    <button type="submit" class="contrast">Save changes</button>
                    <a href="/oauth2/clients" role="button" class="outline contrast wide">Cancel</a>
                </form>
            </div>
        </article>
    </main>
{/include}