{#include main.html}
    {#title}Edit OAuth Client{/title}
    {#styles}
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="stylesheet" href="/css/extra-styles.css" />
    {/styles}

    <main class="container">
        <article>
            <div>
                <h1>Edit OAuth Client</h1>
                <form action="/oauth2/clients/edit" method="post" autocomplete="off">
                    {#ifError 'clientName'} <p class="flash-error">{#error 'clientName'/}</p> {/ifError}
                    {#ifError 'callbackUrls'} <p class="flash-error">{#error 'callbackUrls'/}</p> {/ifError}
                    {#if flash:error} <p class="flash-error">{flash:error}</p> {/if}
                    <input type="hidden" name="{inject:csrf.parameterName}" value="{inject:csrf.token}" />
                    <input type="hidden" name="clientId" value="{client.clientId}" />
                    <label for="clientName">Client name</label>
                    <input type="text" id="clientName" name="clientName" minlength="3" maxlength="100" value="{client.name}"
                           placeholder="Client name" required autofocus />
                    <label for="callbackUrls">Callback URLs (comma-separated list)</label>
                    <input type="text" id="callbackUrls" name="callbackUrls" maxlength="1000" value="{client.callbackUrls.join(', ')}"
                           placeholder="Callback URL" required />
                    <label for="scopes">Select scopes</label>
                    <input type="text" id="scopeSearch" aria-label="scopeSearch" placeholder="Search scopes..." />
                    <select name="scopes" id="scopes" multiple size="6" required>
                        {#for scope in scopes}
                            <option value="{scope.name}" {#if client.scopes.contains(scope)}selected{/if}>{scope.name}</option>
                        {/for}
                    </select>
                    <button type="submit" class="contrast">Save changes</button>
                    <a href="/oauth2/clients" role="button" class="outline contrast wide">Cancel</a>
                </form>
            </div>
        </article>
    </main>

    <script type="text/javascript" src="/js/scopes.js"></script>
{/include}