<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change password</title>

    <link rel="shortcut icon" href="https://picocss.com/favicon.ico" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <main class="container">
        <article>
            <div>
                <h1>Change password</h1>
                <form id="change-password-form" autocomplete="off">
                    <label for="current-password">Current password</label>
                    <input type="password" id="current-password" name="current-password" minlength="6" maxlength="50"
                           placeholder="Current password" required autofocus aria-describedby="invalid-helper-current" />
                    <small id="invalid-helper-current" style="display: none;">Oops! The password is incorrect.</small>
                    <label for="new-password">New password</label>
                    <input type="password" id="new-password" name="new-password" minlength="6" maxlength="50"
                           placeholder="New password" required />
                    <input type="password" id="confirm-password" name="confirm-password" minlength="6" maxlength="50"
                           placeholder="Confirm new password" required aria-describedby="invalid-helper-confirm" />
                    <small id="invalid-helper-confirm" style="display: none;">Passwords don’t match.</small>
                    <button type="submit" class="contrast" id="submit-button">Change password</button>
                    <a href="/profile" role="button" class="outline contrast" style="width: 100%">Cancel</a>
                </form>
            </div>
        </article>
    </main>

    <script>
        const currentPassword = document.getElementById('current-password');
        const newPassword = document.getElementById('new-password');
        const confirmPassword = document.getElementById('confirm-password');
        const submitButton = document.getElementById('submit-button');
        const invalidHelper = document.getElementById('invalid-helper-confirm');

        function validatePasswords() {
            if (newPassword.value && confirmPassword.value) {
                if (newPassword.value === confirmPassword.value) {
                    submitButton.disabled = false;
                    invalidHelper.style.display = 'none';
                    confirmPassword.removeAttribute('aria-invalid');
                } else {
                    submitButton.disabled = true;
                    invalidHelper.style.display = 'block';
                    confirmPassword.setAttribute('aria-invalid', 'true');
                }
            }
        }
        newPassword.addEventListener('input', validatePasswords);
        confirmPassword.addEventListener('input', validatePasswords);

        document.getElementById('change-password-form').addEventListener('submit', (event) => {
            event.preventDefault();

            const passwordData = {
                currentPassword: currentPassword.value,
                newPassword: newPassword.value
            };

            fetch("/profile/change-password", {
                method: "POST",
                body: JSON.stringify(passwordData),
                headers: {
                    "Content-Type": "application/json",
                    "{inject:csrf.headerName}": "{inject:csrf.token}"
                },
            })
            .then((response) => {
                if (response.ok) {
                    window.location.replace('/profile');
                } else {
                    const invalidHelper = document.getElementById('invalid-helper-current');
                    invalidHelper.style.display = 'block';

                    currentPassword.setAttribute('aria-invalid', 'true');

                    currentPassword.value = '';
                    newPassword.value = '';
                    confirmPassword.value = '';
                }
            })
            .catch((error) => {
                console.error(error);
            });
        });
    </script>
</body>

</html>