{#include main.html}
    {#title}Granted consents{/title}
    {#styles}
        <link rel="stylesheet" href="/css/extra-styles.css" />
    {/styles}

    <h3>Granted consents</h3>
    <a href="/profile" role="button" class="outline contrast">Back</a>
    <table>
        {#if consents.isEmpty()}
            <caption>
                <p>You have not granted any consent</p>
            </caption>
        {/if}
        <thead>
        <tr>
            <th scope="col">Application name</th>
            <th scope="col">Permissions</th>
            <th scope="col">Grant date</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {#for consent in consents}
            <tr>
                <th scope="row">{consent.client.name}</th>
                <td>
                    {#for scope in consent.scopes}
                        <div>{scope.description}</div>
                    {/for}
                </td>
                <th scope="row">{consent.grantedAt.format('d MMMM yyyy, HH:mm', locale)}</th>
                <td>
                    <form action="/consents/revoke" method="POST"
                          onsubmit="return confirm('Are you sure you want to revoke this consent?');">
                        <input type="hidden" name="{inject:csrf.parameterName}" value="{inject:csrf.token}" />
                        <input type="hidden" name="id" value="{consent.id}" />
                        <button type="submit" class="outline">Revoke</button>
                    </form>
                </td>
            </tr>
        {/for}
        </tbody>
    </table>
{/include}